<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet"  href="css/style.css" />
</head>
<body id="index">
<div class="container margintop300" >
    <div class="col-md-4 col-md-offset-4 background-white-97">
        <div th:fragment="login">
            <form class="form-signin login-form-signin" action="doLogin" method="post">
                <h2 class="form-signin-heading">Svn Tool</h2>
                <div class="starter-template">
                    <div><input class="form-control  login-form-control" type="text" name="username" th:value="JCNEP"/></div>
                    <div><input class="form-control login-form-control" type="password" name="password" placeholder="Password"/></div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"/>
                            Remember Me </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                </div>
            </form>
            <p th:text="${tip}">登录提示</p>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.2.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="js/bootstrap.min.js"></script>


</body>
</html>